<section class="change-password">
  <h3>Cambiar Contraseña</h3>

  <form (ngSubmit)="changePassword()" #frm="ngForm" class="p-fluid">
    <div class="field">
      <label for="oldPassword">Contraseña Actual</label>
      <input pPassword id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" toggleMask required />
    </div>

    <div class="field">
      <label for="newPassword">Nueva Contraseña</label>
      <input pPassword id="newPassword" [(ngModel)]="newPassword" name="newPassword" toggleMask required
        minlength="6" />
    </div>

    <div class="field">
      <label for="confirmPassword">Confirmar Nueva Contraseña</label>
      <input pPassword id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" toggleMask required />
    </div>

    <p-message *ngIf="errorMessage" severity="danger" text="{{ errorMessage }}"></p-message>
    <p-message *ngIf="successMessage" severity="success" text="{{ successMessage }}"></p-message>


    <p-button label="Actualizar" styleClass="pj-btn"></p-button>
  </form>
</section>